<div class="fires">
    <span class="fire fire-1"></span>
    <span class="fire fire-2"></span>
    <span class="fire fire-3"></span>
    <span class="fire fire-4"></span>
    <span class="fire fire-5"></span>
</div>

<style>
    .fires {
        opacity: 0;
    }

    .fire {
        position: absolute;
        width: 1rem;
        height: 1rem;
        background-image: url(/assets/fire.gif);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .fire-1 {
        top: 40%;
        left: 5%;
    }

    .fire-2 {
        top: 75%;
        left: 24%;
    }

    .fire-3 {
        top: 38%;
        left: 48%;
    }

    .fire-4 {
        top: 53%;
        left: 65%;
    }

    .fire-5 {
        top: 70%;
        left: 93%;
    }
</style>
