---
import TitleHover from '../common/TitleHover.astro';
import Fires from './Fires.astro';
import ProjectsBento from './ProjectsBento.astro';

import { getI18N } from '../../i18n';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section class="projects">
    <div class="projects__title">
        <TitleHover
            header={i18n.PROJECTS.SUBTITLE}
            title1={i18n.PROJECTS.TITLE}
            title2={i18n.PROJECTS.TITLE_2}
        />
        <Fires />
    </div>
    <ProjectsBento />
</section>

<style>
    .projects {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        width: 90vw;
        max-width: 1200px;
        height: 90vh;
    }

    .projects__title {
        position: relative;
        width: 500px;
    }

    .projects:hover :global(.title__main .title-2),
    .projects:hover :global(.title__main .title) {
        transform: translateY(5rem);
    }

    .projects:hover :global(.title__header .icon-container .icon),
    .projects:hover :global(.title__header .icon-container .icon-2) {
        transform: translateY(70%) translateX(55%);
    }

    .projects:hover :global(.fires) {
        opacity: 1;
        transition: all 0.2s ease;
    }
</style>
