---
import Notebook from '../../icons/Notebook.astro';
import Up from '../../icons/Up.astro';
import Upc from '../../icons/upc.astro';
import Upv from '../../icons/upv.astro';
import Card from './Card.astro';
import ExperienceCard from './ExperienceCard.astro';
---

<section class="info show">
    <ExperienceCard />
    <Card title="Formacion"
        ><span
            class="notebook"
            slot="icon"
            ><Notebook /></span
        >

        <div
            class="formation-content"
            slot="content"
        >
            <div class="item show">
                <span class="border border--dark"></span>
                <span class="icon up-icon"><Up /></span>
                <div class="text">
                    <p class="date">Febrero 2022 - Julio 2022 (6 meses)</p>
                    <p class="title">Upgrade Hub</p>
                    <p class="name color-text">Bootcamp Fullstack Developer</p>
                </div>
            </div>
            <div class="item show">
                <span class="border border--dark"></span>
                <span class="icon upc-icon"><Upc /> </span>
                <div class="text">
                    <p class="date">Septiembre 2015 - Mayo 2016 (9 meses)</p>
                    <p class="title">Universidad Politecnica de Catalunya</p>
                    <p class="name color-text">Master Ingenieria Automocion</p>
                </div>
            </div>
            <div class="item show">
                <span class="border border--dark"></span>
                <span class="icon upv-icon"><Upv /></span>
                <div class="text">
                    <p class="date">Septiembre 2011 - Julio 2015 (4 anos)</p>
                    <p class="title">Universidad Politecnica de Valencia</p>
                    <p class="name color-text">Grado Ingenieria Diseno Industrial</p>
                </div>
            </div>
        </div>
    </Card>
</section>

<style>
    .info {
        display: flex;
        align-items: start;
        gap: 2rem;
        padding: 2rem;

        height: 100vh;
        width: 90vw;
        max-width: 1100px;
    }

    .notebook {
        color: var(--badge-container-light);
    }

    .formation-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 1rem;
    }

    .item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
        padding-top: 0.5rem;
    }

    .date {
        font-size: 0.8rem;
        color: rgb(181, 181, 181);
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .title {
        margin-top: -0.5rem;
        font-size: 1.1rem;
    }

    .name {
        font-size: 1rem;
        margin-top: -0.5rem;
        color: rgb(181, 181, 181);
    }

    .icon {
        box-shadow: var(--box-shadow);
        align-self: self-start;
        margin-top: 0.5rem;
    }

    .up-icon {
        overflow: hidden;
        border-radius: 50%;
    }

    .upc-icon {
        fill: #007cc1;
    }

    .upv-icon {
        fill: #ea534f;
        overflow: hidden;
        border-radius: 50%;
    }

    :global(.crown),
    :global(.notebook) {
        margin-top: -2rem;
    }

    .icon :global(.shared-icon) {
        width: 3rem;
        height: 3rem;
    }
</style>
