---
import Header from '../../components/Header.astro';
import ProjectGallery from '../../components/ProjectGallery.astro';
import ProjectHero from '../../components/ProjectHero.astro';
import CheckIcon from '../../icons/CheckIcon.astro';
import CloudflareIcon from '../../icons/CloudflareIcon.astro';
import GithubIcon from '../../icons/GithubIcon.astro';
import NextIcon from '../../icons/NextIcon.astro';
import SQLIcon from '../../icons/SQLIcon.astro';
import TailwindIcon from '../../icons/TailwindIcon.astro';
import TestIcon from '../../icons/TestIcon.astro';
import TypescriptIcon from '../../icons/TypescriptIcon.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Blazing db">
	<Header />
	<main class="bg-dark w-screen flex flex-col items-center">
		<ProjectHero
			id="1"
			title="Blazing db"
			ready
			projectUrl="https://blazing-db.vercel.app/"
			codeUrl="https://github.com/oscarprdev/blazing_db"
			imageUrl="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/203shots_so.png"
			description="Connect your database, visualize data, and manage it seamlessly using AI-generated queries. No expertise required—just simple, intuitive control over your database in one powerful app">
			<ul class="flex flex-col items-start mr-auto text-light2 gap-2 mt-2" slot="features">
				<li class="hover:text-light flex items-center gap-1 duration-200">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Connect to postgreSQL and visualize tables</p>
				</li>
				<li class="hover:text-light flex items-center gap-1 duration-200">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Ask about your tables with AI</p>
				</li>
				<li class="hover:text-light flex items-center gap-1 duration-200">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Generate and apply queries to database</p>
				</li>
				<li class="hover:text-light flex items-center gap-1 duration-200">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Visualize tables fields and values</p>
				</li>
				<li class="hover:text-light flex items-center gap-1 duration-200">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Store generated queries</p>
				</li>
				<li class="hover:text-light flex items-center gap-1 duration-200">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Export tables and values in JSON</p>
				</li>
			</ul>
			<ul class="flex flex-wrap items-start mr-auto text-light3 gap-2 mt-2" slot="stack">
				<li
					class="flex font-light text-sm items-center gap-2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-blue-400">
					<TypescriptIcon />
					Typescript
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
					<NextIcon />
					NextJs
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-blue-300">
					<TailwindIcon />
					Tailwind
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-orange-300">
					<CloudflareIcon />
					Cloudflare
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-cyan-700">
					<SQLIcon />
					SQL
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-emerald-600">
					<TestIcon />
					Playwright
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-light2">
					<GithubIcon />
					CD / Ci
				</li>
			</ul>
		</ProjectHero>
		<ProjectGallery projectUrl="https://blazing-db.vercel.app/" codeUrl="https://github.com/oscarprdev/blazing_db">
			<div class="flex flex-col items-center w-full h-full py-10 gap-5" slot="grid">
				<picture
					class="group relative overflow-hidden border-none w-[800px] max-w-[90vw] grid place-items-center rounded-lg">
					<img
						src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/31shots_so.png"
						class="rounded-lg group-hover:scale-[1.05] duration-500"
					/>
				</picture>
				<picture
					class="group relative overflow-hidden border-none w-[800px] max-w-[90vw] grid place-items-center rounded-lg">
					<img
						src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/592shots_so.png"
						class="rounded-lg group-hover:scale-[1.05] duration-500"
					/>
				</picture>
				<div class="flex flex-col items-center sm:flex-row gap-5 w-[800px] max-w-[90vw]">
					<picture
						class="group relative overflow-hidden border-none w-fit grid place-items-center rounded-lg">
						<img
							src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/785shots_so.png"
							class="rounded-lg group-hover:scale-[1.05] duration-500"
						/>
					</picture>
					<picture
						class="group relative overflow-hidden border-none grid w-fit place-items-center rounded-lg">
						<img
							src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/244shots_so.png"
							class="rounded-lg group-hover:scale-[1.05] duration-500"
						/>
					</picture>
				</div>

				<div class="flex flex-col sm:flex-row gap-5 w-[800px] max-w-[90vw]">
					<picture
						class="group relative overflow-hidden border-none w-full grid place-items-center rounded-lg">
						<img
							src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/292shots_so.png"
							class="rounded-lg group-hover:scale-[1.05] duration-500"
						/>
					</picture>
					<picture
						class="group relative overflow-hidden border-none w-full grid place-items-center rounded-lg">
						<img
							src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/724shots_so.png"
							class="rounded-lg group-hover:scale-[1.05] duration-500"
						/>
					</picture>
				</div>
			</div>
		</ProjectGallery>
	</main>
</Layout>
