---
import ProjectHero from '../../components/ProjectHero.astro';
import CheckIcon from '../../icons/CheckIcon.astro';
import CloudflareIcon from '../../icons/CloudflareIcon.astro';
import NextIcon from '../../icons/NextIcon.astro';
import SQLIcon from '../../icons/SQLIcon.astro';
import TailwindIcon from '../../icons/TailwindIcon.astro';
import TypescriptIcon from '../../icons/TypescriptIcon.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Blazing db">
	<main class="bg-dark w-screen flex flex-col items-center">
		<ProjectHero
			title="Blazing db"
			imageUrl="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/832shots_so.png"
			description="Connect your database, visualize data, and manage it seamlessly using AI-generated queries. No expertise required—just simple, intuitive control over your database in one powerful app">
			<ul class="flex flex-col items-start mr-auto text-light2 gap-2 mt-2" slot="features">
				<li class="flex items-center gap-1">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Connect to postgreSQL and visualize tables</p>
				</li>
				<li class="flex items-center gap-1">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Ask about your tables with AI</p>
				</li>
				<li class="flex items-center gap-1">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Generate and apply queries to database</p>
				</li>
				<li class="flex items-center gap-1">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Visualize tables fields and values</p>
				</li>
				<li class="flex items-center gap-1">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Store generated queries</p>
				</li>
			</ul>
			<ul class="flex flex-wrap items-start mr-auto text-light3 gap-2 mt-2" slot="stack">
				<li
					class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-blue-400">
					<TypescriptIcon />
					Typescript
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
					<NextIcon />
					NextJs
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-blue-300">
					<TailwindIcon />
					Tailwind
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-orange-300">
					<CloudflareIcon />
					Cloudflare
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-cyan-700">
					<SQLIcon />
					SQL
				</li>
			</ul>
		</ProjectHero>
	</main>
</Layout>
