---
import ProjectHero from '../../components/ProjectHero.astro';
import CheckIcon from '../../icons/CheckIcon.astro';
import TypescriptIcon from '../../icons/TypescriptIcon.astro';
import Layout from '../../layouts/Layout.astro';
import ProjectGallery from '../../components/ProjectGallery.astro';
import Header from '../../components/Header.astro';
import CssIcon from '../../icons/CssIcon.astro';
import AstroIcon from '../../icons/AstroIcon.astro';
---

<Layout title="Resources">
	<Header />
	<main class="bg-dark w-screen flex flex-col items-center">
		<ProjectHero
			id="2"
			title="Resources"
			ready={true}
			projectUrl="https://resourcesop.vercel.app/"
			codeUrl="https://github.com/oscarprdev/Resources"
			imageUrl="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/727shots_so.png"
			description="Useful resources list for every web developer. Add to bookmarks your favourites ressources to find them in a fast way.">
			<ul class="flex flex-col items-start mr-auto text-light2 gap-2 mt-2" slot="features">
				<li class="hover:text-light1 flex items-center gap-1 duration-200">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Find your favourite ressources by categories.</p>
				</li>
				<li class="hover:text-light1 flex items-center gap-1 duration-200">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Find your resources by search.</p>
				</li>
				<li class="hover:text-light1 flex items-center gap-1 duration-200">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Add to bookmarks your favourite ressources.</p>
				</li>
			</ul>
			<ul class="flex flex-wrap items-start mr-auto text-light3 gap-2 mt-2" slot="stack">
				<li
					class="flex font-light text-sm items-center gap-2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-blue-400">
					<TypescriptIcon />
					Typescript
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-blue-200">
					<CssIcon />
					Css
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-orange-300">
					<AstroIcon />
					Astro
				</li>
			</ul>
		</ProjectHero>
		<ProjectGallery
			projectUrl="https://resssources-dev.vercel.app/"
			codeUrl="https://github.com/oscarprdev/Resssources_dev">
			<div class="flex flex-col items-center w-full h-full py-10 gap-5" slot="grid">
				<picture
					class="group relative overflow-hidden border-none w-full max-w-[90vw] sm:max-w-[800px] aspect-square grid place-items-center rounded-lg sm:aspect-auto">
					<img
						src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/864shots_so.png"
						class="rounded-lg group-hover:scale-[1.05] duration-500"
					/>
				</picture>

				<picture
					class="group relative overflow-hidden border-none w-full max-w-[90vw] sm:max-w-[800px] aspect-square grid place-items-center rounded-lg sm:aspect-auto">
					<img
						src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/514shots_so.png"
						class="rounded-lg group-hover:scale-[1.05] duration-500"
					/>
				</picture>

				<picture
					class="group relative overflow-hidden border-none w-full max-w-[90vw] sm:max-w-[800px] aspect-square grid place-items-center rounded-lg sm:aspect-auto">
					<img
						src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/136shots_so.png"
						class="rounded-lg group-hover:scale-[1.05] duration-500"
					/>
				</picture>
			</div>
		</ProjectGallery>
	</main>
</Layout>
