---
import ProjectHero from '../../components/ProjectHero.astro';
import CheckIcon from '../../icons/CheckIcon.astro';
import NextIcon from '../../icons/NextIcon.astro';
import PrismaIcon from '../../icons/PrismaIcon.astro';
import SQLIcon from '../../icons/SQLIcon.astro';
import TailwindIcon from '../../icons/TailwindIcon.astro';
import TypescriptIcon from '../../icons/TypescriptIcon.astro';
import Layout from '../../layouts/Layout.astro';
import ProjectGallery from '../../components/ProjectGallery.astro';
---

<Layout title="Resssources dev">
	<main class="bg-dark w-screen flex flex-col items-center">
		<ProjectHero
			id="2"
			title="Resssources dev"
			projectUrl="https://resssources-dev.vercel.app/"
			codeUrl="https://github.com/oscarprdev/Resssources_dev"
			imageUrl="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/106shots_so.png"
			description="Store, find and share your favourite dev ressources in one place. List your favourites ressources to find them in a fast way.">
			<ul class="flex flex-col items-start mr-auto text-light2 gap-2 mt-2" slot="features">
				<li class="hover:text-light1 flex items-center gap-1 duration-200">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Create your own user.</p>
				</li>
				<li class="hover:text-light1 flex items-center gap-1 duration-200">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Create your ressources.</p>
				</li>
				<li class="hover:text-light1 flex items-center gap-1 duration-200">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">See the new ressources arrivals.</p>
				</li>
				<li class="hover:text-light1 flex items-center gap-1 duration-200">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Manage your ressources as favourites or shared.</p>
				</li>
				<li class="hover:text-light1 flex items-center gap-1 duration-200">
					<span class="scale-75"><CheckIcon /></span>
					<p class="text-sm">Dashboard to edit, publish or unpublish ressources.</p>
				</li>
			</ul>
			<ul class="flex flex-wrap items-start mr-auto text-light3 gap-2 mt-2" slot="stack">
				<li
					class="flex font-light text-sm items-center gap-2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-blue-400">
					<TypescriptIcon />
					Typescript
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
					<NextIcon />
					NextJs
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-blue-300">
					<TailwindIcon />
					Tailwind
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-light2">
					<PrismaIcon />
					Prisma
				</li>
				<li
					class="flex font-light text-sm items-center gap-2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1 hover:text-cyan-700">
					<SQLIcon />
					SQL
				</li>
			</ul>
		</ProjectHero>
		<ProjectGallery
			projectUrl="https://resssources-dev.vercel.app/"
			codeUrl="https://github.com/oscarprdev/Resssources_dev">
			<div class="flex flex-col items-center w-full h-full py-10 gap-5" slot="grid">
				<picture
					class="group relative overflow-hidden border-none w-[800px] grid place-items-center rounded-lg">
					<img
						src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/239shots_so.png"
						class="rounded-lg group-hover:scale-[1.05] duration-500"
					/>
				</picture>

				<picture
					class="group relative overflow-hidden border-none w-[800px] grid place-items-center rounded-lg">
					<img
						src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/282shots_so.png"
						class="rounded-lg group-hover:scale-[1.05] duration-500"
					/>
				</picture>

				<div class="flex gap-5 w-[800px]">
					<picture
						class="group relative overflow-hidden border-none w-fit grid place-items-center rounded-lg">
						<img
							src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/769shots_so.png"
							class="rounded-lg group-hover:scale-[1.05] duration-500"
						/>
					</picture>
					<picture
						class="group relative overflow-hidden border-none grid w-fit place-items-center rounded-lg">
						<img
							src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/841shots_so.png"
							class="rounded-lg group-hover:scale-[1.05] duration-500"
						/>
					</picture>
				</div>
			</div>
		</ProjectGallery>
	</main>
</Layout>
