---
import { getI18N } from '../../i18n';
import { addSpanToWords } from '../../utils';
import SharedLinks from './SharedLinks.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const description01 = i18n.HERO.DESCRIPTION.TEXT_1;
const description02 = i18n.HERO.DESCRIPTION.TEXT_2;

const wordsToHightlight: Record<string, Record<string, string[]>> = {
    es: {
        one: ['ingeniero de automoción'],
        two: ['desarrollo web']
    },
    en: {
        one: ['automotive engineer'],
        two: ['web development']
    }
};

const modifiedDescription01 = addSpanToWords(
    description01,
    wordsToHightlight[currentLocale as string].one,
    'color-text'
);

const modifiedDescription02 = addSpanToWords(
    description02,
    wordsToHightlight[currentLocale as string].two,
    'color-text'
);
---

<article class="hero_presentation">
    <div class="info">
        <h1 class="section-title">Oscar Perez Romero</h1>
        <p>
            <span set:html={modifiedDescription01} />
            <br />
            <br />
            <span set:html={modifiedDescription02} />
        </p>
    </div>
    <SharedLinks />
</article>

<style>
    .hero_presentation {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 1rem;
    }

    h1 {
        font-size: clamp(1.2rem, 6.5vw, 3.5rem);
        width: 100%;
        text-wrap: pretty;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 1rem;
    }

    p {
        max-width: 70ch;
        font-size: 1rem;
        text-wrap: pretty;
        margin-top: -3.5rem;
        color: var(--text-secondary);
    }

    @media (width <= 800px) {
        .hero_presentation {
            flex-direction: column;
            margin-top: 10rem;
        }

        p {
            margin-top: -2rem;
        }
    }

    @media (width <= 550px) {
        .hero_presentation {
            flex-direction: column;
            margin-top: 0;

            p {
                margin-top: -1.5rem;
            }
        }
    }

    @media (width <= 350px) {
        .hero_presentation {
            margin-top: -3rem;

            p {
                margin-top: 1.5rem;
                font-size: 0.9rem;
            }
        }
    }
</style>
