---
import HeroAbout from './HeroAbout.astro';
import HeroPresentation from './HeroPresentation.astro';
---

<section class="hero">
    <HeroAbout />
    <HeroPresentation />
</section>

<style>
    .hero {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 80vw;
        height: 100vh;
    }
</style>
