---
import TitleHover from '../common/TitleHover.astro';
import HeroAboutBubbles from './HeroAboutBubbles.astro';
---

<section class="hero_about_title">
    <TitleHover
        header="Mi stack"
        title1="Frontend developer"
        title2="Fullstack developer"
    />
    <HeroAboutBubbles />
</section>

<style>
    .hero_about_title {
        position: relative;
        width: 55vw;
        max-width: 1000px;
    }

    .hero_about_title:hover :global(.title__main .title-2),
    .hero_about_title:hover :global(.title__main .title) {
        transform: translateY(5rem);
    }

    .hero_about_title:hover :global(.title__header .icon-container .icon),
    .hero_about_title:hover :global(.title__header .icon-container .icon-2) {
        transform: translateY(70%) translateX(55%);
    }

    .hero_about_title:hover :global(.bubbles-container) {
        opacity: 1;
        transition: all 0.2s ease;
    }
</style>
