---
import Tooltip from './Tooltip.astro';

interface Props {
    href: string;
    download?: string;
    tooltip?: string;
}

const { href, download, tooltip } = Astro.props;
---

<a
    href={href}
    target="_blank"
    download={download}
>
    <slot />
    {
        tooltip && (
            <div class="tooltip-container">
                <Tooltip>
                    <p>{tooltip}</p>
                </Tooltip>
            </div>
        )
    }
</a>

<style>
    :root {
        --thickness: 20px;
    }

    a {
        position: relative;
        display: grid;
        place-items: center;

        padding: 0.2rem;
        border: 1px solid var(--default-color);
        z-index: 0;

        cursor: pointer;
    }

    a::after {
        content: '';
        height: var(--thickness);
        width: 150%;
        background-color: var(--bg-screen);
        position: absolute;
        z-index: 1;
    }

    a::before {
        content: '';
        height: 150%;
        width: var(--thickness);
        background-color: var(--bg-screen);
        position: absolute;
        z-index: 1;
    }

    a:hover::before,
    a:hover::after {
        animation: rotate 2s linear infinite;
    }

    .tooltip-container {
        display: grid;
        place-items: center;

        position: absolute;
        top: 1.5rem;
        left: -11rem;
        transform: translateY(-70%);

        width: 180px;
        color: var(--default-color-light);

        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        font-weight: 100;
        font-style: italic;
    }

    a:hover .tooltip-container {
        opacity: 1;
        visibility: visible;
        transform: translateY(-70%);
    }

    @keyframes rotate {
        to {
            transform: rotate(360deg);
        }
    }

    @media (width <= 500px) {
        .tooltip-container {
            opacity: 1;
            visibility: visible;
        }
    }
</style>
