.atropos-banner {
    max-width: 1000px;
    width: 60vw;
    height: 73vh;
}

.atropos-banner:hover .bg-glow {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.bg-card-glow-hover {
    background: radial-gradient(
            80% 55% at 50% 0%,
            rgba(31, 206, 241, 0.25) 0,
            transparent 100%
        ),
        radial-gradient(47% 43% at 2% 100%, rgba(31, 206, 241, 0.1) 0, transparent 100%);
    background-color: rgba(23, 23, 23, 0.126);
}

.atropos-banner:hover .bg-glow-hover {
    opacity: 1;
    transition: all 1s ease-in-out;
}

.atropos-banner img {
    object-fit: contain;
    display: block;
    z-index: 1;
    transform-style: preserve-3d;
    pointer-events: none;
}

.atropos-banner .atropos-shadow {
    filter: blur(50px);
    opacity: 0.1;
    background: rgba(0, 0, 0, 0);
}
.atropos-banner .atropos-highlight {
    z-index: 100;
}

@media (max-width: 800px) {
    .atropos-banner {
        width: 95%;
        height: 50vh;
    }
}
