@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Suisse';
	src: url('/fonts/suisse.ttf') format('truetype');
	font-display: swap;
}

:root {
	--accent-primary: #060606;
	--accent-secondary: #eb5757;

	--max-width: 1200px;

	--dark-0: #000000;
	--dark-0-5: #101010f0;
	--dark-1: #121212;
	--dark-2: #181818;
	--dark-3: #242424;
	--dark-4: #303030;
	--dark-5: #363636;

	--light-0: #ffffff;
	--light-1: #dddddd;
	--light-2: #b3b3b3;
	--light-3: #979797;
	--light-4: #767676;
	--light-5: #606060;
	--light-5: #ffffff7a;
}

h1,
h2,
h3,
h4 {
	font-family: 'Suisse', 'Inter', system-ui, sans-serif;
}

h5,
p,
a {
	font-family: 'Inter', system-ui, sans-serif;
}

body {
	background-color: var(--dark-0);
	display: flex;
	flex-direction: column;
	align-items: center;
	scroll-behavior: smooth;
	overflow-x: hidden;

	width: 100%;
	margin: 0 auto;

	color: white;
}

section {
	width: 100vw;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: inherit;
}

.icon {
	display: grid;
	place-items: center;
}

picture {
	overflow: hidden;
	border-radius: 1.5rem;
	border: 1px solid;

	display: grid;
	place-items: center;
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 1.2rem;
}
