@import './atropos.css';

.border-glow:hover {
    cursor: pointer;
    animation: moveBorderGlow 0.7s linear forwards;
}

@keyframes moveBorderGlow {
    0%,
    100% {
        box-shadow: -0.5px -0.5px 1.5px rgba(255, 255, 255, 0.975);
    }
    14% {
        box-shadow: 1px 0 1.5px rgba(255, 255, 255, 0.975);
    }
    29% {
        box-shadow: 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.975);
    }
    44% {
        box-shadow: 0 1.5px 1.5px rgba(255, 255, 255, 0.975);
    }
    59% {
        box-shadow: -1.5px 1px 1.5px rgba(255, 255, 255, 0.975);
    }
    74% {
        box-shadow: -1.5px 0px 1.5px rgba(255, 255, 255, 0.975);
    }
}

.border-glow::before {
    content: '';
    position: absolute;
    width: 105%;
    height: 105%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, transparent 70%);
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    z-index: -1;
}

.bg-white-blur {
    background: radial-gradient(40% 95% at 50% 100%, #ffffff49 0, transparent 100%);
    background-color: transparent;
}

.bg-white-soft-blur {
    background: radial-gradient(40% 95% at 50% 100%, #ffffff19 0, transparent 100%);
    background-color: transparent;
}

.bg-current-soft-blur {
    background: radial-gradient(
        40% 95% at 50% 100%,
        rgba(31, 206, 241, 0.3) 0,
        transparent 100%
    );
    background-color: transparent;
}

.section-title {
    background: radial-gradient(50% 75% at 10% 10%, #f1f1f192 0, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.period-text {
    background: linear-gradient(100deg, #ffffff85 1%, #f1f1f1d9 5%, #ffffff85 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-glow-dark {
    background: radial-gradient(
        50% 80% at 100% 0%,
        rgba(220, 229, 231, 0.15) 0,
        transparent 100%
    );
    background-color: rgba(23, 23, 23, 0.126);
}

.bg-blue-blur {
    background: radial-gradient(
        40% 95% at 50% 100%,
        rgba(31, 206, 241, 0.15) 0,
        transparent 100%
    );
    background-color: transparent;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(55%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.show-animation {
    view-timeline-name: --show;
    view-timeline-axis: block;

    animation-timeline: --show;
    animation-name: show;
    animation-range: entry 20% cover 60%;
    animation-fill-mode: both;
}
