---
import { Card } from '../components/Card';
import Layout from '../layouts/Layout.astro';
import { CardAtra } from '../components/Card-atra';
---

<Layout title="Welcome to Astro.">
    <section class="mt-10 flex flex-col items-center justify-center gap-40">
        <Card
            title="Atra Architecture"
            date="2023 10 05"
            description="Professional architecture portfolio with CMS"
            mainImage="public/assets/atra-bg.png"
            githubUrl="https://github.com/oscarprdev/Atra-architecture-web"
            appUrl="https://atra-architecture.vercel.app/"
            client:visible
        >
            <CardAtra client:visible />
        </Card>
        <Card
            title="Atra Architecture"
            date="2023 10 05"
            description="Professional architecture portfolio with CMS"
            mainImage="public/assets/atra-bg.png"
            githubUrl="https://github.com/oscarprdev/Atra-architecture-web"
            appUrl="https://atra-architecture.vercel.app/"
            client:visible
        >
            <CardAtra client:visible />
        </Card>
    </section>
</Layout>
