---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <main class="viewport">
        <Hero />
    </main>
</Layout>

<style>
    .viewport {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        width: 100vw;
        box-sizing: border-box;
    }
</style>
