---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <main class="viewport">
        <section class="main-content">
            <Hero />
        </section>
    </main>
</Layout>

<style>
    .viewport {
        position: fixed;

        width: 100vw;
        height: 100vh;

        padding-top: var(--app-padding);
        padding-bottom: var(--app-padding);
        padding-left: 3rem;

        overflow: scroll;
    }

    .main-content {
        position: relative;

        display: flex;
        align-items: center;

        width: var(--app-width);
        height: 100%;
    }
</style>
