<section
    id="about"
    class="relative flex h-fit flex-col items-center justify-center gap-10 pt-10"
>
    <div class="w-[65vw] px-10">
        <h2 class="section-title text-[2.5rem]">About me</h2>
        <p class="section-title text-[1.5rem]">Small pills about who I am.</p>
    </div>
    <article class="flex h-screen w-[60vw] flex-col gap-10 pb-20">
        <div class="flex h-[50%] w-full items-center gap-2">
            <figure
                class="relative h-full w-[40%] overflow-hidden rounded-xl border border-[var(--white-color-nav)] p-2"
            >
                <img
                    src="public/assets/personal-image.jpeg"
                    alt="My personal image"
                    class="h-full w-full rounded-md object-cover"
                />
                <span class="border-glare left-[5%] h-[1px] w-[90%]"></span>
            </figure>
            <div class="flex h-full w-[70%] flex-col justify-center p-6">
                <h3 class="section-title text-[1.5rem]">A childhood dream.</h3>
                <p class="mt-2 text-[1.2rem] font-light text-[var(--white-color-nav)]">
                    My passion of creating imaginative wonders led me to become an
                    industrial engineer in the automotive industry.
                    <br />
                    <br />
                     However, the limitless digital frontier and my creative aspirations
                    prompted me to becoming sofware developer.
                    <br />
                    <br />
                     Now, I'm bringing imaginative ideas to life mixing my industrial
                    background and software development.
                </p>
            </div>
        </div>
        <div class="bg-blue-blur flex h-screen w-full items-center gap-5 pb-[5rem]">
            <div class="flex h-full w-[60%] flex-col justify-center gap-2">
                <div class="h-[80%] w-full">
                    <h3 class="section-title text-[1.5rem]">Keeping hungry.</h3>
                    <p
                        class="mt-2 text-[1.2rem] font-light text-[var(--white-color-nav)]"
                    >
                        I take my work seriously and I'm always trying to be the best
                        professional I can be, working hard and being consistent.
                        <br />
                        <br />
                         But when I'm not in 'work mode,' you'll find me on adventures,
                        traveling to new places, and just hanging out with my French
                        Bulldog, Buddy.
                        <br />
                        <br />
                         Striking this balance between work and play keeps me refreshed
                        and ready to give my best in both my job and my life outside of
                        it.
                    </p>
                </div>
                <p class="section-title text-center text-[1.5rem]">
                    Thanks for scrolling!
                </p>
            </div>
            <figure
                class="relative h-full w-[40%] overflow-hidden rounded-xl border border-[var(--white-color-nav)] p-2"
            >
                <img
                    src="public/assets/budy-and-me.jpg"
                    alt="Budy and me"
                    class="h-full w-full rounded-md object-cover"
                />
                <span class="border-glare left-[5%] h-[1px] w-[90%]"></span>
            </figure>
        </div>
    </article>
</section>
