<section
    id="about"
    class="relative mb-10 flex h-screen flex-col items-center justify-center gap-10"
>
    <div class="w-[70vw] px-10">
        <h2 class="section-title text-[2.5rem]">About me</h2>
        <p class="section-title text-[1.5rem]">Small pills about who I am.</p>
    </div>
</section>
