---
interface Props {
    year: number;
    left: string;
    dotTop?: number;
    dotQuantity: number;
}

const { year, left, dotTop, dotQuantity } = Astro.props;
---

<div class={`absolute flex h-full flex-col items-center ${left}`}>
    <p class="text-[var(--white-color-nav)]">{year}</p>

    <span
        class="h-full w-[1px] bg-gradient-to-b from-transparent via-[var(--white-color-nav)] to-transparent"
    ></span>
    {
        dotTop &&
            Array(dotQuantity)
                .fill('')
                .map((_, i) => (
                    <>
                        <span
                            class={`absolute top-[${
                                dotQuantity > 1 ? dotTop + i * 20 : dotTop
                            }%] h-[1rem] w-[1rem] rounded-full bg-white shadow-slate-300`}
                        />
                    </>
                ))
    }
    <slot />
</div>
