---
import Period from './Period.astro';
---

<section
    id="experience"
    class="relative mb-10 flex h-screen flex-col items-center justify-center gap-10"
>
    <div class="w-[70vw] px-10">
        <h2 class="section-title text-[2.5rem]">Experience</h2>
        <p class="section-title text-[1.5rem]">Fast resume about my professional life.</p>
    </div>
    <article
        class="bg-glow-dark opacity-1 border-grad relative grid h-[70vh] w-[70vw] max-w-5xl place-items-center rounded-[1rem] px-5"
    >
        <div class="relative flex h-[90%] w-full items-center">
            <Period
                year={2015}
                left={2}
                width={13}
                top={25.5}
                title="SEAT"
                text="Trainee"
            />
            <Period
                year={2016}
                left={15}
                width={35}
                top={45.5}
                title="BTECHC"
                text="Automotive industrial engineer"
            />
            <Period
                year={2022}
                month="Feb"
                left={50}
                width={15}
                top={65.5}
                title="UPGRADE HUB"
                text="Bootcamp fullstack"
            />
            <Period
                year={2022}
                month="Aug"
                left={65}
                width={30}
                top={85.5}
                title="ADHARA"
                text="Frontend developer"
            />
            <Period
                year={2024}
                left={95}
            />
        </div>
    </article>
</section>
