---
import Period from './Period.astro';
---

<section
    id="experience"
    class="relative mb-10 flex h-screen flex-col items-center justify-center gap-10 md:mb-28"
>
    <div class="show-animation w-full px-10 md:w-[65vw]">
        <h2 class="section-title text-[2.5rem]">Experience</h2>
        <p class="section-title text-[1rem] md:text-[1.5rem]">
            Short resume about my professional life.
        </p>
    </div>
    <article
        class="show-animation bg-glow-dark opacity-1 border-grad relative box-content grid h-[50vh] w-[95%] max-w-[1200px] place-items-center rounded-[1rem] p-[0.3rem] md:h-[70vh] md:w-[60vw]"
    >
        <div
            class="border-grad-small relative flex h-full w-full flex-row items-center rounded-[0.2rem] pt-6"
        >
            <Period
                year={2015}
                left={2}
                width={13}
                top={25.5}
                title="SEAT"
                text="Trainee"
                content={['Discipline', 'Team work']}
            />
            <Period
                year={2016}
                left={15}
                width={35}
                top={45.5}
                title="BTECHC"
                text="Automotive industrial engineer"
                content={[
                    'Deadlines management',
                    'Team management',
                    'Workflow management'
                ]}
            />
            <Period
                year={2022}
                month="Feb"
                left={50}
                width={17}
                top={65.5}
                title="UPGRADE HUB"
                text="Bootcamp fullstack"
                content={['JS, CSS, HTML', 'React, Angular', 'MongoDB, SQL']}
            />
            <Period
                year={2022}
                month="Aug"
                left={67}
                width={26}
                top={85.5}
                title="ADHARA"
                text="Frontend developer"
                current
                content={[
                    'Vue, React, Docker',
                    'Playwright, Vitest',
                    'Clean architecture'
                ]}
            />
            <Period
                year={2024}
                left={93}
            />
            <span class="border-glare left-[5%] h-[1px] w-[90%]"></span>
        </div>
        <span class="border-glare left-[5%] h-[1px] w-[90%]"></span>
    </article>
</section>
