---
import GithubIcon from '../icons/GithubIcon.astro';
import HeartIcon from '../icons/HeartIcon.astro';
import LinkedinIcon from '../icons/LinkedinIcon.astro';
---

<footer class="w-full grid place-items-center">
	<div
		class="w-max max-w-[95vw] border-x border-t border-dark2 flex flex-col items-center gap-10 px-2 sm:px-20 py-32">
		<div class="w-[800px] max-w-[90vw] flex items-center justify-between">
			<div class="flex flex-col items-start">
				<h4 class="text-light2">Oscar Perez Romero</h4>
				<p class="text-xs flex items-center text-light2">
					Made with <span class="scale-75"><HeartIcon /></span> and a lot of coffes (no sugar)
				</p>
			</div>
			<div class="flex items-center gap-2">
				<div
					class="p-3 w-fit grid place-items-center border border-dark3 rounded-full text-light2 hover:text-light1 duration-200">
					oscarpr@protonmail.com
				</div>

				<a
					href="https://github.com/oscarprdev"
					target="_blank"
					class="p-3 grid place-items-center border border-dark3 rounded-full text-light2 hover:text-light1 duration-200 cursor-pointer"
					><GithubIcon /></a
				>
				<a
					href="https://www.linkedin.com/in/oscarperez8"
					target="_blank"
					class="p-3 grid place-items-center border border-dark3 rounded-full text-light2 hover:text-light1 duration-200 cursor-pointer"
					><LinkedinIcon /></a
				>
			</div>
		</div>
	</div>
</footer>
