<header class="absolute bg-transparent top-0 w-screen grid place-items-center">
	<div class="w-max max-w-[100vw] border-x border-dark2 py-5 px-5 sm:px-10 flex items-center justify-between">
		<a href="/" class="cursor-pointer">
			<h3 class="uppercase text-light1">Opr</h3>
		</a>
		<slot name="nav" />
	</div>
</header>

<style>
	.nav-item::before {
		content: '';
		position: absolute;
		bottom: 0;
		width: 0px;
		height: 1px;
		background-color: white;
		transition: all 0.3s ease;
	}

	.nav-item:hover::before {
		content: '';
		width: 50%;
		height: 1px;
		background-color: white;
	}
</style>
