---
import ThemeIcon from './ThemeIcon.astro';
---

<header>
	<h3>Opr</h3>
	<ThemeIcon />
</header>

<style>
	header {
		position: sticky;
		top: 0;

		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 92%;

		padding: 0.5rem 0;
	}
</style>
