<section
    id="home"
    class="bg-hero-glow grid h-screen w-full place-items-center"
>
    <h1 class="text-center text-[6rem] text-white">
        Oscar Perez Romero.<br />
        <span class="hero-text">Frontend developer.</span>
    </h1>
</section>
