---
import CvIcon from '../icons/CvIcon.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import LinkedinIcon from '../icons/LinkedinIcon.astro';
---

<section
	class="bg-dark h-full pb-2 sm:pb-10 md:pb-20 w-max max-w-[95vw] border-x border-dark2 flex flex-col gap-20 items-center justify-between bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(54,54,54,0.3),rgba(54,54,54,0))]">
	<div class="block">
		<h1 class="mt-[20vh] flex flex-col items-center w-full text-2xl sm:text-3xl md:text-5xl lg:text-7xl uppercase">
			<span class="text-transparent bg-clip-text bg-gradient-to-r from-dark2 via-light to-dark2">
				Oscar Perez Romero
			</span>
		</h1>
		<h2 class="flex flex-col items-center w-full text-2xl sm:text-3xl md:text-5xl lg:text-7xl uppercase">
			<span class="text-transparent bg-clip-text bg-gradient-to-r from-dark2 via-light to-dark2">
				Frontend developer
			</span>
		</h2>
	</div>
	<div
		class="flex items-end justify-between w-full max-w-[90vw] sm:w-full flex-col md:flex-row md:px-40 pb-32 opacity-0 animate-fade-up delay">
		<div class="flex flex-col items-start gap-5 max-w-[90vw]">
			<picture class="group relative border-dark3 w-[150px] sm:w-[150px] md:w-[200px] p-1.5">
				<img
					src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/personal-image.webp"
					alt="personal image"
				/>
			</picture>
			<p class="w-[45ch] max-w-[90vw] text-pretty text-light1 mb-5 text-sm sm:text-md">
				Software developer with +2 years of software experience, coming from an automotive engineering
				background, currently working at Adhara Blockchain.
			</p>
		</div>

		<div class="flex flex-col items-end gap-3 w-[200px]">
			<div
				class="p-3 grid place-items-center border border-dark3 rounded-full text-light2 hover:text-light1 duration-200">
				oscarpr@protonmail.com
			</div>
			<div class="flex items-center gap-2 justify-end w-full">
				<a
					href="https://github.com/oscarprdev"
					target="_blank"
					class="p-3 grid place-items-center border border-dark3 rounded-full text-light2 hover:text-light1 duration-200 cursor-pointer"
					><GithubIcon /></a
				>
				<a
					href="https://www.linkedin.com/in/oscarperez8"
					target="_blank"
					class="p-3 grid place-items-center border border-dark3 rounded-full text-light2 hover:text-light1 duration-200 cursor-pointer"
					><LinkedinIcon /></a
				>
				<a
					href="/assets/cv.pdf"
					download="oscar_perez_romero_cv"
					class="p-3 grid place-items-center border border-dark3 rounded-full text-light2
					hover:text-light1 duration-200 cursor-pointer"
					><CvIcon /></a
				>
				<a class="hidden" href="https://www.linkedin.com/in/oscarperez8" target="_blank"></a>
			</div>
		</div>
	</div>
</section>
