---
import SharedLinks from './SharedLinks.astro';
---

<article class="hero_presentation">
    <div class="info">
        <h1>Oscar Perez Romero</h1>
        <p>
            Tras haber trabajado como ingeniero de automoción en empresas Tier 1 de España
            por más de 6 años, decidí hacer un cambio en mi carrera profesional y
            adentrarme en el mundo del desarrollo web a través de un bootcamp. <br />
            <br /> Desde entonces puedo decir que he encontrado mi verdadera pasion por la
            que dedico todo mi tiempo libre en aprender todo lo relacionado con el desarrollo
            web.
        </p>
    </div>
    <SharedLinks />
</article>

<style>
    .hero_presentation {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 1rem;
    }

    h1 {
        font-size: clamp(1.2rem, 6.5vw, 3.5rem);
        width: 100%;
        text-wrap: pretty;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 1rem;
    }

    p {
        max-width: 70ch;
        font-size: 0.9rem;
        text-wrap: pretty;
        margin-top: -3.5rem;
    }
</style>
