<article class="hero_presentation">
    <h1>Oscar Perez Romero</h1>
</article>

<style>
    .hero_presentation {
        margin-top: -3rem;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    h1 {
        font-size: clamp(1rem, 3vw, 5rem);
        width: 100%;
        text-wrap: pretty;
        text-transform: uppercase;
        font-weight: bold;
    }
</style>
