---
import NextIcon from '../icons/NextIcon.astro';
import CloudflareIcon from '../icons/CloudflareIcon.astro';
import TailwindIcon from '../icons/TailwindIcon.astro';
import TypescriptIcon from '../icons/TypescriptIcon.astro';
import ArrowUpIcon from '../icons/ArrowUpIcon.astro';
import PrismaIcon from '../icons/PrismaIcon.astro';
import GolangIcon from '../icons/GolangIcon.astro';
import ReactIcon from '../icons/ReactIcon.astro';
---

<section class="w-full grid place-items-center">
	<div class="w-max max-w-[95vw] border-x border-dark2 flex flex-col gap-10 px-20 py-32">
		<h2 class="text-5xl text-light1">Projects</h2>
		<div class="grid sm:grid-rows-2 gap-2 w-full">
			<div class="grid grid-cols-5 w-full gap-2">
				<div
					class="group hover:border-dark4 relative col-span-3 border border-dark3 rounded-xl p-10 overflow-hidden duration-200 h-[350px]">
					<div
						class="absolute top-0 h-[1px] w-full bg-gradient-to-r from-dark via-light to-dark opacity-0 group-hover:opacity-100 duration-300">
					</div>
					<h4 class="text-3xl italic text-light1">Blazingdb</h4>
					<p class="text-light3 text-sm my-3">Database management with AI generated queries support.</p>
					<div class="flex flex-col gap-2 items-center absolute top-32 text-light4">
						<TypescriptIcon />
						<NextIcon />
						<CloudflareIcon />
						<TailwindIcon />
					</div>
					<picture
						class="group-hover:scale-[1.05] duration-500 absolute top-32 -right-5 bottom overflow-hidden size-[550px] border-none">
						<img
							src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/452shots_so.png"
							class="rounded-lg"
						/>
					</picture>
					<div
						class="opacity-0 group-hover:opacity-100 grid place-items-center absolute top-0 left-0 w-full h-full duration-200 bg-black/20">
						<a
							href={`/project/blazing`}
							class="px-5 py-3 bg-light text-dark rounded-full text-sm flex items-center gap-2 hover:bg-light1 duration-200 cursor-pointer"
							>View Work <span class="rotate-45"><ArrowUpIcon /></span></a
						>
					</div>
				</div>
				<div
					class="group hover:border-dark4 relative col-span-2 border border-dark3 rounded-xl p-10 overflow-hidden duration-200 h-[350px]">
					<div
						class="absolute top-0 h-[1px] w-full bg-gradient-to-r from-dark via-light to-dark opacity-0 group-hover:opacity-100 duration-300">
					</div>
					<h4 class="text-3xl italic text-light1">Resssources dev</h4>
					<p class="text-light3 text-sm my-3">Find, share and store dev ressources.</p>
					<div class="flex flex-col gap-2 items-center absolute top-32 text-light4">
						<TypescriptIcon />
						<NextIcon />
						<PrismaIcon />
						<TailwindIcon />
					</div>
					<picture
						class="group-hover:scale-[1.05] duration-500 absolute top-32 -right-32 bottom overflow-hidden size-[450px] border-none">
						<img
							src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/515shots_so.png"
							class="rounded-lg"
						/>
					</picture>
					<div
						class="opacity-0 group-hover:opacity-100 grid place-items-center absolute top-0 left-0 w-full h-full duration-200 bg-black/20">
						<a
							href={`/project/resssources`}
							class="px-5 py-3 bg-light text-dark rounded-full text-sm flex items-center gap-2 hover:bg-light1 duration-200 cursor-pointer"
							>View Work <span class="rotate-45"><ArrowUpIcon /></span></a
						>
					</div>
				</div>
			</div>

			<div class="grid grid-cols-5 w-full gap-2">
				<div
					class="group hover:border-dark4 relative col-span-2 border border-dark3 rounded-xl p-10 overflow-hidden duration-200 h-[350px]">
					<div
						class="absolute top-0 h-[1px] w-full bg-gradient-to-r from-dark via-light to-dark opacity-0 group-hover:opacity-100 duration-300">
					</div>
					<h4 class="text-3xl italic text-light1">Resume builder</h4>
					<p class="text-light3 text-sm my-3">Minimalistic resume builder app.</p>
					<div class="flex flex-col gap-2 items-center absolute top-32 text-light4">
						<TypescriptIcon />
						<ReactIcon />
						<GolangIcon />
						<TailwindIcon />
					</div>

					<picture
						class="group-hover:scale-[1.05] duration-500 absolute top-32 -right-32 bottom overflow-hidden size-[450px] border-none">
						<img
							src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/999shots_so.png"
							class="rounded-lg"
						/>
					</picture>
					<div
						class="opacity-0 group-hover:opacity-100 grid place-items-center absolute top-0 left-0 w-full h-full duration-200 bg-black/20">
						<a
							href={`/project/resssources`}
							class="px-5 py-3 bg-light text-dark rounded-full text-sm flex items-center gap-2 hover:bg-light1 duration-200 cursor-pointer"
							>View Work <span class="rotate-45"><ArrowUpIcon /></span></a
						>
					</div>
				</div>
				<div
					class="group hover:border-dark4 relative col-span-3 border border-dark3 rounded-xl p-10 overflow-hidden duration-200 h-[350px]">
					<div
						class="absolute top-0 h-[1px] w-full bg-gradient-to-r from-dark via-light to-dark opacity-0 group-hover:opacity-100 duration-300">
					</div>
					<h4 class="text-3xl italic text-light1">OPlink</h4>
					<p class="text-light3 text-sm my-3">Short url app. Share and store your urls.</p>
					<div class="flex flex-col gap-2 items-center absolute top-32 text-light4">
						<TypescriptIcon />
						<ReactIcon />
						<GolangIcon />
						<TailwindIcon />
					</div>
					<picture
						class="group-hover:scale-[1.05] duration-500 absolute top-32 -right-5 bottom overflow-hidden size-[550px] border-none">
						<img
							src="https://pub-40348015f8234717ad672ff274c3fc81.r2.dev/9shots_so.png"
							class="rounded-lg"
						/>
					</picture>
					<div
						class="opacity-0 group-hover:opacity-100 grid place-items-center absolute top-0 left-0 w-full h-full duration-200 bg-black/20">
						<a
							href={`/project/resssources`}
							class="px-5 py-3 bg-light text-dark rounded-full text-sm flex items-center gap-2 hover:bg-light1 duration-200 cursor-pointer"
							>View Work <span class="rotate-45"><ArrowUpIcon /></span></a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
