---
import { Card } from './Card';
import { CardAtra } from './Card-atra';
import { CardNft } from './Card-nft';
---

<section class="mt-10 flex flex-col items-center justify-center gap-40">
    <Card
        title="Atra Architecture"
        date="2023 10 05"
        description="Professional architecture portfolio with CMS"
        mainImage="public/assets/atra-bg.png"
        githubUrl="https://github.com/oscarprdev/Atra-architecture-web"
        appUrl="https://atra-architecture.vercel.app/"
        client:load
    >
        <CardAtra client:load />
    </Card>
    <Card
        title="NFT Market"
        date="2023 9 17"
        description="NFT marketplace UI design with View Transitions API"
        mainImage="public/assets/nft-bg.png"
        githubUrl="https://github.com/oscarprdev/Nft-market-transitions"
        appUrl="https://nft-market-transitions.netlify.app/"
        client:load
    >
        <CardNft client:load />
    </Card>
</section>
