---
import { Card } from './Card';
import { CardAtra } from './Card-atra';
import { CardNft } from './Card-nft';
---

<section
    id="work"
    class="mb-10 mt-10 flex h-full flex-col items-center justify-center gap-40"
>
    <div class="mb-[-7rem] w-[70vw] px-10">
        <h2 class="section-title text-[2.5rem]">Work</h2>
        <p class="section-title text-[1.5rem]">Check it out some of my side projects.</p>
    </div>
    <Card
        title="Atra Architecture"
        date="2023 10 05"
        description="Professional architecture portfolio with CMS"
        mainImage="public/assets/atra-bg.png"
        githubUrl="https://github.com/oscarprdev/Atra-architecture-web"
        appUrl="https://atra-architecture.vercel.app/"
        client:load
    >
        <CardAtra client:load />
    </Card>
    <Card
        title="NFT Market"
        date="2023 9 17"
        description="NFT marketplace UI design with View Transitions API"
        mainImage="public/assets/nft-bg.png"
        githubUrl="https://github.com/oscarprdev/Nft-market-transitions"
        appUrl="https://nft-market-transitions.netlify.app/"
        client:load
    >
        <CardNft client:load />
    </Card>
</section>
