---
import Cv from '../icons/Cv.astro';
import Linkedin from '../icons/Linkedin.astro';
import Github from '../icons/Github.astro';
import SharedIconBox from './SharedIconBox.astro';
---

<div class="shared-links">
    <SharedIconBox
        href=""
        tooltip="Descarga mi cv!"
    >
        <Cv />
    </SharedIconBox>
    <SharedIconBox href="https://www.linkedin.com/in/oscarperez8/">
        <Linkedin />
    </SharedIconBox>
    <SharedIconBox href="https://github.com/oscarprdev">
        <Github />
    </SharedIconBox>
</div>

<style>
    .shared-links {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        margin-top: 7rem;
        gap: 1rem;
    }
</style>
