---
import JsIcon from '../icons/JsIcon.astro';
import HtmlIcon from '../icons/HtmlIcon.astro';
import TypescriptIcon from '../icons/TypescriptIcon.astro';
import CssIcon from '../icons/CssIcon.astro';
import SassIcon from '../icons/SassIcon.astro';
import ReactIcon from '../icons/ReactIcon.astro';
import NextIcon from '../icons/NextIcon.astro';
import TailwindIcon from '../icons/TailwindIcon.astro';
import VueIcon from '../icons/VueIcon.astro';
import PrismaIcon from '../icons/PrismaIcon.astro';
import DockerIcon from '../icons/DockerIcon.astro';
import CloudflareIcon from '../icons/CloudflareIcon.astro';
import SQLIcon from '../icons/SQLIcon.astro';
import NodeIcon from '../icons/NodeIcon.astro';
---

<section class="w-full grid place-items-center">
	<div class="w-max max-w-[95vw] border-x border-dark2 flex flex-col items-center gap-10 px-2 sm:px-20 py-32">
		<h2 class="text-5xl text-light1 mr-auto">My Stack</h2>
		<div class="relative flex flex-col gap-10 w-[800px] max-w-[90vw] h-fit">
			<p class="w-[80ch] text-light2">
				A strong commitment to staying up to date with the latest software technologies, while maintaining a
				solid foundation in core principles.
			</p>
			<div class="w-full flex flex-col gap-2 overflow-hidden marquee-container">
				<div class="relative flex items-center w-fit gap-[0.7rem]">
					<ul
						class="relative marquee1-animation-left text-light4 flex w-fit items-center gap-[0.7rem] overflow-hidden">
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<JsIcon />
							Javascript
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<HtmlIcon />
							HTML
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<CssIcon />
							CSS
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<SassIcon />
							Sass
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<TypescriptIcon />
							Typescript
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<ReactIcon />
							React
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<NextIcon />
							NextJs
						</li>
					</ul>
					<ul
						class="relative marquee1-animation-left text-light4 flex w-fit items-center gap-[0.7rem] overflow-hidden">
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<JsIcon />
							Javascript
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<HtmlIcon />
							HTML
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<CssIcon />
							CSS
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<SassIcon />
							Sass
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<TypescriptIcon />
							Typescript
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<ReactIcon />
							React
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<NextIcon />
							NextJs
						</li>
					</ul>
				</div>
				<div class="relative flex items-center w-fit gap-[0.7rem]">
					<ul
						class="relative marquee1-animation-right text-light4 flex w-fit items-center gap-[0.7rem] overflow-hidden">
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<TailwindIcon />
							Tailwind
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<VueIcon />
							Vue
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<PrismaIcon />
							Prisma
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<DockerIcon />
							Docker
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<CloudflareIcon />
							Cloudflare
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<SQLIcon />
							SQL
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<NodeIcon />
							NodeJs
						</li>
					</ul>
					<ul
						class="relative marquee2-animation-right text-light4 flex w-fit items-center gap-[0.7rem] overflow-hidden">
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<TailwindIcon />
							Tailwind
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<VueIcon />
							Vue
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<PrismaIcon />
							Prisma
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<DockerIcon />
							Docker
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<CloudflareIcon />
							Cloudflare
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<SQLIcon />
							SQL
						</li>
						<li
							class="flex font-light text-sm items-center gap-2 hover:text-light2 duration-200 p-2 border border-dark3 rounded-xl hover:bg-dark1">
							<NodeIcon />
							NodeJs
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.marquee1-animation-left {
		animation: marquee1-left linear 45s infinite;
	}

	.marquee2-animation-left {
		animation: marquee2-left linear 45s infinite;
	}

	.marquee1-animation-right {
		animation: marquee1-right linear 45s infinite;
	}

	.marquee2-animation-right {
		animation: marquee2-right linear 45s infinite;
	}

	.marquee-container {
		mask-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0) 0%,
			rgb(0, 0, 0) 12.5%,
			rgb(0, 0, 0) 87.5%,
			rgba(0, 0, 0, 0) 100%
		);
	}

	@keyframes marquee1-left {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(-100%);
		}
	}

	@keyframes marquee2-left {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(0%);
		}
	}

	@keyframes marquee1-right {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(0%);
		}
	}

	@keyframes marquee2-right {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(0%);
		}
	}
</style>
