---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Astro description"
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.svg"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"
            rel="stylesheet"
        />

        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>{title}</title>
    </head>
    <body>
        <main>
            <slot />
        </main>
    </body>
    <style is:global>
        @import '../styles/main.css';

        @tailwind base;
        @tailwind components;
        @tailwind utilities;

        @font-face {
            font-family: 'cormorant';
            src: url('./public/fonts/Cormorant-Light.ttf') format('truetype');
            font-display: swap;
        }

        @font-face {
            font-family: 'neue montreal';
            src: url('./public/fonts/NeueMontreal-Light.ttf') format('otf');
            font-display: swap;
        }

        @layer components {
            .noise {
                background-position: 50%;
                background-repeat: repeat;
                background-image: url(public/assets/noise.png);
                background-size: 140px 100px;
            }

            .bg-glow {
                background: radial-gradient(
                        80% 55% at 50% 0%,
                        #ffffff49 0,
                        transparent 100%
                    ),
                    radial-gradient(47% 43% at 2% 100%, #4c4c4c6d 0, transparent 100%);
                background-color: rgba(23, 23, 23, 0.126);
            }

            .bg-hero-glow {
                background: radial-gradient(
                    60% 60% at 2% 0%,
                    rgba(31, 206, 241, 0.15) 0,
                    transparent 100%
                );
                background-color: rgba(23, 23, 23, 0.126);
            }

            .bg-glow-hover {
                background: radial-gradient(
                    45% 85% at 50% 0%,
                    #ffffff49 0,
                    transparent 100%
                );
                background-color: rgba(23, 23, 23, 0.126);
            }

            .border-grad,
            .border-grad-small {
                position: relative;
                border-top: 0.8rem;
            }

            .border-grad::before,
            .border-grad-small::before {
                content: '';
                position: absolute;
                inset: 0;
                padding: 1px;
                background: linear-gradient(to bottom, #d6d6d68c, #48484800);
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                mask-composite: exclude;
            }

            .border-grad::before {
                border-radius: 1rem;
            }

            .border-grad-small::before {
                border-radius: 0.6rem;
            }

            .border-glare {
                z-index: 10;
                background-image: linear-gradient(
                    to right,
                    rgba(0, 0, 0, 0) 5%,
                    rgba(255, 255, 255, 1) 35%,
                    #fff 50%,
                    rgba(255, 255, 255, 1) 65%,
                    rgba(0, 0, 0, 0) 95%
                );
                position: absolute;
                top: 0%;
                bottom: auto;
                left: 0%;
                right: 0%;
            }

            .hero-text {
                background: linear-gradient(
                    100.93deg,
                    #1fcff1 15%,
                    #234cb6 45%,
                    #1fcff1 80%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        html {
            font-family: 'Neue Montreal', sans-serif;
            background: #13151a;
            background-size: 224px;
            scroll-behavior: smooth;
        }

        @layer base {
            :root {
                --atra-font: 'cormorant';
                --nft-font: 'Kaushan script';
                --card-button-bg: rgba(255, 255, 255, 0.5);
                --white-color-nav: rgb(220, 220, 220, 0.5);
                --dark-color-nav: rgb(220, 220, 220, 0.1);
                --text-social: #ffffffe3;
            }
        }
    </style>
</html>
