---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Oscar Portfolio"
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.svg"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    :root {
        /* Fonts Sizes*/
        --title-size: 5rem;

        /* Colors */
        --red-light: #ff1e0b;

        --default-color: #333;

        --badge-dark: #2d3299;
        --badge-light: #773e9d;

        --badge-container-dark: #869afc;
        --badge-container-light: #d494ff;

        /* Backgrounds */
        --bg-screen: #ededed;

        --app-width: 2500px;
        --app-padding: 10vw;

        /* Shadow */
        --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    @font-face {
        font-family: 'HelveticaNeue';
        src: url('/fonts/HelveticaNeue.otf') format('opentype');
        font-display: swap;
    }

    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif, system-ui;

        color: var(--default-color);
        background-color: var(--bg-screen);

        min-height: 100%;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    h1 {
        font-family: Arial, Helvetica, sans-serif, system-ui;
    }

    h2 {
        font-family: system-ui;
    }

    picture {
        overflow: hidden;
    }

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
</style>
